@import '../../assets/styles/variables';

.formGroup {
    margin: 15px 0;

    label {
        font-size: 14px;
        font-weight: normal;
        color: $dark;
        display: inline-block;
        margin-bottom: 10px;
    }

    input {
        display: block;
        padding: 10px 15px;
        border: 2px solid $accent;
        outline: none;
        transition: 200ms ease-in-out;
        border-radius: 4px;
        font-size: 16px;

        &:focus {
            border-color: $primary;
        }
    }
}

.block {
    display: block;
    width: 100%;
}